body{
	background: #efefef;
	color: #000000;
	font-size: 16px;
	font-family: sans-serif,Arial;
}

#nav{
	font-size: 12px;
}

#board{
	background: #224422;
	border: 15px solid #563411;
	border-radius: 8px;
	margin: 10px auto;
	width: 1000px;
	height: 610px;
}

#introWrap{
	width: 900px;
	border-radius: 8px;
	border: 15px solid #000000;
	background: #ffffff;
	font-size: 16px;
	padding: 15px;
	margin: 15px auto;
}

#introWrap a{
	font-weight: bold;
	color: #393939;
}

#introWrap a:hover{
	color: #060606;
}

.toggle{
	text-decoration: none;
}

.column{
	float: left;
	width: 400px;
	margin: 15px;
	font-size: 14px;
}

.comment{
	position:relative;
	clear: both;
	border: 1px solid #c9c9c9;
	background: #efffef;
	width: 375px;
	margin: 10px auto;
}

.mod{
	width: 10px;
	float: left;
	font-size: 16px;
}

.mod a{
	text-decoration: none;
	padding: 5px;
}

.points{
	font-size: 11px;
	margin: 5px;
}

.pos{
	color: #239923;
	font-weight: bold;
}

.neg{
	color: #992323;
	font-weight: bold;
}

.zero{
	color: #000000;
	font-weight: bold;
}

.message p{
	margin: 5px;
}

.message{
	padding: 5px 5px 5px 20px;
}

.clear{
	clear: both;
}

#gameInfo{
	position: relative;
	float: right;
	width: 200px;
	background: #ffffff;
	border-left: 10px solid #452300;
	height: 610px;
}

#gameArea{
	float: left;
	width: 675px;
	position: relative;
	margin-right: 15px;
}

#roomPlayers{
	height: 160px;
	border-bottom: 1px solid #000000;
}

.player{
	width: 90px;
	background: #ffffff;
	padding: 0px 5px;
	margin-left: 5px;
	border: 4px solid #ffffff;
	font-size: 12px;
}

.score{
	position: absolute;
	right: 80px;
	font-size: 12px;
}

#messages{
	height: 420px;
	font-size: 12px;
	overflow: auto;
	padding: 0px 5px;
}
#form{
	border-top: 1px solid #000000;
}

#chat-message{
	height: 15px;
	font-size: 11px;
	width: 140px;
}

#chat-submit{
	font-size: 11px;
}

.bottomArea{
	margin: 15px;
	position: absolute;
	top: 250px;
}

#answers{
}

#voting{
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	margin: 320px 60px 0 60px;
}

.answerCard{
	position:absolute;
	height: 150px;
	width: 120px;
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
	border-radius: 5px;
	background: #ffffff;
	background-image: url(../imgs/cardBg.jpg);
	background-repeat: none;
	color: #000000;
	border: 3px solid #000000;
	z-index: 10;
	box-shadow:3px 3px 3px #393939;
}

.answerCard:hover{
	z-index:20;
	background-image: url(../imgs/cardBgBig.jpg);
        background-repeat: none;
	cursor: pointer;
}

#c1{
}

#c2{
	left: 140px;
}

#c3{
	left: 280px;
}

#c4{
	left: 420px;
}

#c5{
	left: 560px;
}

#c6{
	top: 170px;
}

#c7{
	top: 170px;
	left: 140px;
}

#c8{
	top: 170px;
	left: 280px;
}

#c9{
	top: 170px;
	left: 420px;
}

#c10{
	top: 170px;
	left: 560px;
}

.gameCard{
	position:absolute;
	height: 240px;
	width: 170px;
	padding: 5px;
	left: 200px;
	font-size: 18px;
	font-weight: bolder;
	border-radius: 10px;
	background: #000000;
	color: #ffffff;
	border: 3px solid #ffffff;
	z-index: 10;
	box-shadow:3px 3px 3px #393939;
}

.gameCard:hover{
	cursor: pointer;
}

.blackAnswer{
	position:absolute;
	height: 240px;
	width: 170px;
	padding: 5px;
	font-size: 18px;
	font-weight: bolder;
	border-radius: 10px;
	background: #000000;
	color: #ffffff;
	border: 3px solid #ffffff;
	z-index: 10;
	box-shadow:3px 3px 3px #393939;
}

.votable:hover{
	cursor: pointer;
	border-color: #ccccff;
}

.voted{
	border-color: #aaaaee;
}
	
#a0{
	left: 15px;
}

#a1{
	left: 212px;
}

#a2{
	left: 410px;
}

#a3{
	top: 270px;
	left: 15px;
}

#a4{
	top: 270px;
	left: 212px;
}

#a5{
	top: 270px;
	left: 410px;
}


#reset{
	position: absolute;
	font-size: 24px;
	font-weight: bold;
	margin: 15px;
	color:#ffffff;
}

#commit{
	position: absolute;
	font-size: 24px;
	font-weight: bold;
	top: 40px;
	margin: 15px;
	color: #ffffff;
}

#reportLink{
	position: absolute;
	right: -13px;
	top: 1px;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
}

#logout{
	position: absolute;
	right: -13px;
	top: 55px;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
}

.played{
	border: 4px solid #3333dd;
}

.smallText{
	font-size: 10px;
}

#safeWarn{
	font-weight: bold;
	font-style: italic;
}